#ignore misc BYOND files
Thumbs.db
*.log
*.int
*.rsc
*.dmb
*.lk
*.backup
*.before
data/
cfg/
build_log.txt
use_map
stopserver
reboot_called
atupdate
__pycache__

# ignore config, but not subdirs
sql/test_db
config/access levels.txt
config/admin_ranks.txt
config/config.txt
config/away_site_blacklist.txt
config/dbconfig_docker.txt
config/dbconfig.txt
config/custom_sprites.txt
config/custom_items.txt
